/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/images
/public/widgets
/storage/*.key
/storage/*
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/.DS_Store
resources/images/.DS_Store
resources/views/dashboard/.DS_Store
resources/views/dashboard/enterprise/.DS_Store
/.idea
.DS_Store
composer.lock
package-lock.json
public/.htaccess
public/mix-manifest.json
resources/views/.DS_Store
.DS_Store
*.lock
resources/views/.DS_Store
