#registrationPage{
    margin: 70px 0 0;

    ul.stepper .step .step-title:hover{
        background: none;
    }
}
#toast-container{
    top: auto!important;
    right: 20px!important;
    bottom: 20px!important;
}
